*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}
header{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 120px;
    background-color: dimgray;
}
#logo{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 60px;
    background-color: white;
    font-size: 50px;
    text-align: center;
}
.redes{
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
}
#icono1{
    top: 42px;
    right: 120px;
}
#icono2{
    top: 42px;
    right: 71px;
}
#icono3{
    top: 42px;
    right: 19px;
}
nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 48px;
    background-color: white;
}
.botones{
    float: left;
    width: 196px;
    margin: 0 2px;
    height: 48px;
    background-color: gray;
    text-align: center;
    line-height: 48px;
}
a .botones:hover{
background-color: honeydew
}
#top{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 192px;
}
#top ul{
    width: 1010px;
    height: 192px;
}
#top ul li{
    float: left;
    width: 326px;
    height: 192px;
    margin-right: 10px;
    text-align: center;
}
#top ul li img{
    border-radius: 100%;
}
#top ul li p{
    font-size: 14px;
    margin: 10px;
}
section{
    position: relative;
    margin: auto;
    width: 1000px ;
    height: 453px;
    background-color: gray;
    text-align: center;
}
#izq{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 453px;
    background-color: black;
}
aside#izq ul li{
    background: grey;
    padding: 10px;
    margin: 2px 10px;
    margin-top: 10px;
    list-style: square;
    list-style-position: inside;
}
aside#izq ul li a{
    text-decoration: none;
}
#der{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 453px;
    background-color: black;
}
aside#der h1{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: honeydew;
    margin-bottom: 5px;
}
aside#der input{
    padding: 10px;
    margin: 5px 0px;
    width: 176px;
}
footer{
    position: relative;
    margin: 20px auto;
    width: 1000px ;
    height: 70px;
    background-color: dimgray;
    text-align: center;
    line-height: 70px;
}